.snackbar {
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 50; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 9%; /* 30px from the bottom */

  &.dark{
    background-color: rgb(255, 255, 255); /* Black background color */
    color: rgb(0, 0, 0);
  }

  &.light{
    background-color: rgb(0, 0, 0); /* Black background color */
    color: rgb(255, 255, 255);
  }
  // &.fail {
  //   background-color: rgb(255, 207, 207); /* Black background color */
  //   color: rgb(0, 0, 0);
  // }

  // &.success {
  //   background-color: rgb(161, 227, 161); /* Black background color */
  //   color: black;
  // }

  &.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadeinSnack 0.5s, fadeoutSnack 0.5s 2.5s;
    animation: fadeinSnack 0.5s, fadeoutSnack 0.5s 2.5s;
  }

  &.hide {
    visibility: hidden; /* Hidden by default. Visible on click */
  }
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadeinSnack {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 9%;
    opacity: 1;
  }
}

@keyframes fadeinSnack {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 9%;
    opacity: 1;
  }
}

@-webkit-keyframes fadeoutSnack {
  from {
    top: 9%;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeoutSnack {
  from {
    top: 9%;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
