.clues {
  // width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  //Animation CSS
  .cards-split-delay {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

    li.card {
      background: rgb(115, 71, 212);
      border: 1px solid rgb(255, 255, 255);
      height: 100px;
      width: 100px;
      border-radius: 10px;
      position: absolute;

      box-shadow: 1px 2px 2px 0 rgb(174, 174, 174);
      transition: all 0.7s cubic-bezier(0.63, 0.16, 0.03, 1.12);
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;

      div.content {
        p {
          color: white;
        }
      }

      &.card-1 {
        z-index: 10;
        transform: rotateZ(-2deg);
      }
      &.card-2 {
        z-index: 9;
        transform: rotateZ(-7deg);
      }
      &.card-3 {
        z-index: 8;
        transform: rotateZ(5deg);
      }
      &.card-4 {
        z-index: 7;
        transform: rotateZ(-7deg);
      }
      &.card-5 {
        z-index: 6;
        transform: rotateZ(5deg);
      }
    }

    &.transition {
      li.card.active {
        transform: rotateZ(0deg);
        &.card-1.active {
          left: -220px;
          right: 0px;
          top: 125px;
          height: 30px;
          width: 100px;
          border-radius: 5px;
        }

        &.card-2.active {
          left: -110px;
          right: 0px;
          top: 125px;
          height: 30px;
          width: 100px;
          border-radius: 5px;
        }

        &.card-3.active {
          left: 0px;
          right: 0px;
          top: 125px;
          height: 30px;
          width: 100px;
          border-radius: 5px;
        }

        &.card-4.active {
          left: 110px;
          right: 0px;
          top: 125px;
          height: 30px;
          width: 100px;
          border-radius: 5px;
        }

        &.card-5.active {
          left: 220px;
          right: 0px;
          top: 125px;
          height: 30px;
          width: 100px;
          border-radius: 5px;
        }

        &.card-6.active {
          left: 330px;
          right: 0px;
          top: 125px;
          height: 30px;
          width: 100px;
          border-radius: 5px;
        }
      }
    }
  }
  //Animation CSS
}

@media screen and (min-width: 768px) {
  //For Laptops
  .clues {
    gap: 1px;
  }
  .clueItem {
    height: 25px;
  }
}

@media screen and (max-width: 1080px) {
  //For Phones
  .clues {
    display: flex;
    align-items: center;
    justify-content: center;
    .items {
      width: max-content;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2px;
      padding: 5px;
      border-radius: 10px;
    }

    ul.cards-split-delay {
      right: -25px;
      height: 100px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;

      li.card {
        background: rgb(115, 71, 212);
        border: 1px solid rgb(255, 255, 255);
        height: 100px;
        width: 100px;
        border-radius: 10px;
        position: absolute;

        box-shadow: 1px 2px 2px 0 rgb(174, 174, 174);
        transition: all 0.5s cubic-bezier(0.63, 0.16, 0.03, 1.12);
        display: flex;
        align-items: center;
        justify-content: center;

        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;

        div.content {
          p {
            color: white;
          }
        }

        &.card-1 {
          z-index: 10;
          transform: rotateZ(-2deg);
        }
        &.card-2 {
          z-index: 9;
          transform: rotateZ(-7deg);
        }
        &.card-3 {
          z-index: 8;
          transform: rotateZ(5deg);
        }
      }

      &.transition {
        li.card.active {
          transform: rotateZ(0deg);
          &.card-1.active {
            left: -130px;
            right: 0px;
            top: 125px;
            height: 20px;
            width: 65px;

            border-radius: 5px;

            div.content {
              p {
                font-size: 13px;
              }
            }
          }

          &.card-2.active {
            left: -60px;
            right: 0px;
            top: 125px;
            height: 20px;
            width: 65px;
            border-radius: 5px;

            div.content {
              p {
                font-size: 13px;
              }
            }
          }

          &.card-3.active {
            left: 10px;
            right: 0px;
            top: 125px;
            height: 20px;
            width: 65px;
            border-radius: 5px;

            div.content {
              p {
                font-size: 13px;
              }
            }
          }

          &.card-4.active {
            left: 80px;
            right: 0px;
            top: 125px;
            height: 20px;
            width: 65px;
            border-radius: 5px;

            div.content {
              p {
                font-size: 13px;
              }
            }
          }

          &.card-5.active {
            left: 150px;
            right: 0px;
            top: 125px;
            height: 20px;
            width: 65px;
            border-radius: 5px;

            div.content {
              p {
                font-size: 13px;
              }
            }
          }

          &.card-6.active {
            left: -2000px;
            right: 0px;
            top: 125px;
            height: 20px;
            width: 65px;
            border-radius: 5px;

            div.content {
              p {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }

  .clueItem {
    width: 70px;
    font-size: 10px;
  }
}
