.clues {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  gap: 50px;
}

.clueItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  height: 30px;
  width: 100px;
  border-radius: 5px;
}
