.guessitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  .guessinput {
    display: flex;
    align-items: center;

    background-color: rgb(200, 203, 255);

    border-radius: 5px;
    padding-right: 5px;
    font-size: 16px;

    &.disabled {
      background-color: rgb(215, 215, 215);
    }

    input {
      background-color: transparent;
      outline: none;
      border: none;
      padding: 5px;
      height: 1.5em;
      width: 10em;
      font-size: 1em;
    }
    .submit-guess {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1.8em;
      width: 1.8em;
      border: none;
      outline: none;
      border-radius: 5px;

      background: rgb(117, 79, 200);

      &.disabled {
        background-color: rgb(181, 181, 181);
      }
    }

    p {
      width: 100px;
      background: green;
    }
  }

  .valid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .progress-div {
      // height: 30px;
      // width: 11em;
      width: 10em;
      border-radius: 0.3em;
      overflow: hidden;

      // .progressbar {
      // }
      .progress-label {
        font-family: sans-serif;
        color: white;
        font-size: 7px;
        font-weight: bold;
      }
      .container {
        background-color: rgb(239, 239, 239);
      }

      // .barCompleted{
      //   background-color: lightgreen;
      //   width: 10%;
      // }
    }
  }
}

@media only screen and (max-width: 768px) {
  .guessitem {
    .guessinput {
      display: flex;
      align-items: center;

      // background-color: rgb(240, 240, 240);
      border-radius: 5px;
      padding-right: 5px;
      font-size: 16px;

      input {
        background-color: transparent;
        outline: none;
        border: none;
        padding: 5px;
        height: 1.2em;
        width: 8em;
        font-size: 0.95em;
      }
      .submit-guess {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5em;
        width: 1.5em;
        border: none;
        outline: none;
        border-radius: 5px;
      }
    }
    .valid {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      .progress-div {
        // height: 30px;
        // width: 11em;
        width: 9.1em;
        border-radius: 0.3em;
        overflow: hidden;

        // .progressbar {
        // }

        .container {
          background-color: rgb(235, 235, 235);
        }

        // .barCompleted{
        //   background-color: lightgreen;
        //   width: 10%;
        // }
      }
    }
  }
}
