@import "./global.scss";

// @font-face {
//   font-family: 'dimitri'; /*a name to be used later*/
//   src: url('../fonts/DIMITRI_.TTF'); /*URL to font*/
// }

.nav {
  width: 100%;
  height: 60px;
  // background-color: #80808000;
  // background-image: url("../images/gradients/Radar.jpg");
  // background-image: linear-gradient(to right, rgb(84, 159, 238),rgb(106, 85, 226), rgb(120, 68, 172));
  // background-image: linear-gradient();
  
  background-size: cover;
  font-family: "soul";
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: xx-large;
  padding-left: 5%;
  
  
  &.dark {
    background-color: #80808000;
  }

  h3 {
    color: #ffffff;
    font-weight: bold;
    align-items: center;
    &.dark {
      color: white;
    }
  }

  .right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5%;
    gap: 30px;

    .info{
      cursor: pointer;
      height: 30px;
      width: 30px;
    }
    .stats{
      cursor: pointer;
      height: 30px;
      width: 30px;
    }

    p{
      font-size: x-large;
      font-weight: bold;
      color: white;
      cursor: pointer;
    }

    .toggle {
      // position: absolute;
      // right: 5%;

      --size: 1.3rem;

      appearance: none;
      outline: none;
      cursor: pointer;

      width: var(--size);
      height: var(--size);
      box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
      border-radius: 999px;
      color: hsl(240, 100%, 95%);

      transition: all 500ms;

      &:checked {
        --ray-size: calc(var(--size) * -0.4);
        --offset-orthogonal: calc(var(--size) * 0.65);
        --offset-diagonal: calc(var(--size) * 0.45);

        transform: scale(0.75);
        color: hsl(40, 100%, 50%);
        box-shadow: inset 0 0 0 var(--size),
          calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
          var(--offset-orthogonal) 0 0 var(--ray-size),
          0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
          0 var(--offset-orthogonal) 0 var(--ray-size),
          calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0
            var(--ray-size),
          var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
          calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0
            var(--ray-size),
          var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0
            var(--ray-size);
      }
    }
  }


  // layout
  // body {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   min-height: 100vh;
  // }

  // .background {
  //   --bg: hsl(240, 100%, 10%);
  //   background: var(--bg);
  //   position: fixed;
  //   height: 100vh;
  //   width: 100vw;
  //   transition: background 500ms;
  // }

  // .toggle {
  //   z-index: 1;
  //   &:checked {
  //     & ~ .background {
  //       --bg: white;
  //     }
  //     & ~ .title {
  //       --color: hsl(40, 100%, 50%);
  //     }
  //   }
  // }

  // .title {
  //   --color: hsl(240, 100%, 95%);
  //   color: var(--color);
  //   z-index: 1;
  //   cursor: pointer;
  //   display: block;
  //   padding: 0.5rem 0 0;
  //   transition: color 500ms;
  // }
}
